<!DOCTYPE html>
<html>
<head>
    <title>Penjualan</title>
    <link rel="stylesheet" th:href="@{/css/penjualan/form.css}">
</head>
<body>
    <div class="split-container">
        <section class="split-left">
             <!-- <p>Kode : <span th:text="${penjualan.kodePenjualan}"></span></p> -->
           <p><strong>Tanggal & Waktu :</strong><span th:text="${#temporals.format(tanggal,'dd MMMM yyyy HH:mm')}"></span></p>
            <p><strong>Kasir :</strong><span th:text="${user.username}"></span></p>

            <form th:action="@{/penjualan/caripelanggan}" method="get" class="nav-search-add">
                <input type="text" name="kodePelanggan" placeholder="Kode Pelanggan">
                <button type="submit">Cari</button>
            </form>
            
            <div th:if="${error}" class="error-message">
                <span th:text="${error}"></span>
            </div>


            <div th:if="${pelanggan != null}">
                <p>Kode Pelanggan   : <span th:text="${pelanggan.kodePelanggan}"></span></p>
                <p>Nama Pelanggan   : <span th:text="${pelanggan.namaPelanggan}"></span></p>
            </div>

            <div class="container">
                <table class="keranjang-table">
                    <thead>
                        <tr>
                            <th>Barang</th>
                            <th>Qty</th>
                            <th>Harga</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="detail : ${details}">
                            <td th:text="${detail.barang.namaBarang}"></td>
                            <td>
                                <a th:href="@{/penjualan/kurang/{kode}(kode=${detail.barang.kodeBarang})}">-</a>
                                <span th:text="${detail.qty}"></span>
                                <a th:href="@{/penjualan/tambahbarang/{kode}(kode=${detail.barang.kodeBarang})}">+</a>
                            </td>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(detail.harga,0,'COMMA',2,'POINT')}"></td>
                            <td th:text="'Rp ' + ${#numbers.formatDecimal(detail.subTotal,0,'COMMA',2,'POINT')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            
            <div class="total-pembayaran"><p>Total : <span th:text="'Rp ' + ${#numbers.formatDecimal(total, 0, 'COMMA', 2, 'POINT')}"></span></p></div>
            <div class="buttons">
                <form th:action="@{/penjualan/bayar}" method="post">
                    <label>Pembayaran</label>
                    <input type="number" name="totalPembayaran" required>
                    <p>Kembalian : <span th:text="'Rp ' + ${#numbers.formatDecimal(penjualan.hasilKembalian, 0, 'COMMA', 2, 'POINT')}"></span></p>
                    <button type="submit">Bayar</button>
                </form>
                 <a href="/dashboard" class="a-dashboard">Kembali ke Dasboard</a>
            </div>
        </section>

        <section class="split-right">
                <form th:action="@{/penjualan/caribarang}" method="get" class="nav-search-add">
                    <input type="text" name="keyword" placeholder="Cari barang.." th:value="${keyword}">
                    <button type="submit">Cari</button>
                </form>
            </nav>
            <table border="1">
                <tr>
                    <th>Kode</th>
                    <th>Nama Barang</th>
                    <th>Harga</th>
                    <th>Stok</th>
                    <th>Aksi</th>
                </tr>

                <tr th:each="barang : ${listBarang}">
                    <td th:text="${barang.kodeBarang}"></td>
                    <td th:text="${barang.namaBarang}"></td> 
                    <td th:text="'Rp ' + ${#numbers.formatDecimal(barang.harga, 0, 'COMMA', 2, 'POINT')}"></td>
                    <td th:text="${barang.stok}"></td>
                    <td>
                        <a th:href="@{/penjualan/tambahbarang/{kode}
                            (kode=${barang.kodeBarang})}">
                            Tambah
                        </a>
                    </td>
                </tr>
            </table>
            
        </section>
    </div>
   
    
</body>
</html>